{{!< default}}
<div id="root">
  <div class="navbar">
    <ul>
      <li>
        <button class="top">
          Top
        </button>
      </li>
      <li>
         <button class="middle">
          Middle 
        </button>
      </li>
      <li>
         <button class="bottom">
          Bottom
        </button>
      </li>
    </ul>
  </div>
  <div class="container header background">
    <div class="row">
      <div class="col-xs-12 banner">
        <div class="logo">Douglas Casserleigh</div>
      </div>
    </div>
  </div>
    
 
  <div class="container summary background">
    <div class="row">
      <div class="col-md-8 summary-text">
        <h1> Pop-up slow-carb mumblecore, godard crucifix 8-bit brooklyn aesthetic yr brunch salvia etsy master cleanse before they sold out. Lyft craft beer whatever banjo. 
        Street art mumblecore hoodie bushwick pug, letterpress af tumeric squid polaroid heirloom dreamcatcher PBR&B semiotics. 90's deep v gluten-free actually seitan. Normcore everyday carry listicle, crucifix dreamcatcher mixtape church-key coloring book vegan hammock knausgaard locavore celiac. Cornhole salvia pitchfork locavore artisan, stumptown viral gochujang pabst marfa street art cred lomo ethical hell of. Artisan art party venmo brunch microdosing sustainable.
        </h1>
      </div> 
      <div class="col-md-4 summary-image">
        
      </div> 
    </div>

  </div>
  <div class="container header background">
    <div class="row">
      <div class="col-xs-12 banner">
        <div class="logo">Douglas Casserleigh</div>
      </div>
    </div>
    <div class="row boxes">
      <div class="col-md-6 container-left">
        <div class="box-left">Left Box</div>
      </div>
      <div class="col-md-6 container-right">
        <div class="box-right">Right Box</div>
      </div>
    </div>
  </div>  


