{{!< default}}
<div id="root">
  <!-- scrollTo header -->
  <a id="header"></a>

  <div class="navbar">
    <ul>
      <li>
        <div class="top">
          <a href="#header">Top</a>
        </div>
      </li>
      <li>
        <button class="middle">
          <a href="#summary">Summary</a>
        </button>
      </li>
      <li>
         <button class="bottom">
          <a href="#bottom">Bottom</a>
        </button>
      </li>
    </ul>
  </div>

  <div class="container-3d">
    <div class="header-3d">
      <h1 class="header-3d-text">DC</h1>
    </div>
    <div class="text-box-3d">
      <h1 class="text-3d">
        Welcome
      </h1>
    </div> 
    <div class="flex-box-3d">
      <img class="image-3d" src="http://orig04.deviantart.net/80a8/f/2012/227/4/b/abstract_render__stock__by_akumazer0-d5b9e9f.png"/>
<!--     http://orig12.deviantart.net/7ab8/f/2013/030/5/e/first_try_at_making_a_abstract_model_in_c4d_by_shayd3-d5tatj0.png -->
    </div>
  </div>
  <div class="fade-transition">
  </div>









  
   <!-- scrollTo summary --> 
  <a id="summary"></a>
  <div class="container-summary">
    <img class="summary-background" src="https://s-media-cache-ak0.pinimg.com/originals/8f/8a/f9/8f8af9b2a2c6f879579a460c2a26eea9.jpg">
    <div class="summary-flex"> 
      <div class="summary-text">
        <p>90's authentic kickstarter, VHS keffiyeh tattooed raw denim deep v squid polaroid typewriter artisan trust fund tousled. Art party tofu four dollar toast selvage. Craft beer mumblecore freegan, +1 organic bitters irony fixie biodiesel hot chicken authentic. Hella vegan cardigan, try-hard +1 polaroid hashtag fanny pack.
        </p>
      </div>  
      <div class="summary-image">
      
      </div>
    </div>
  </div>
  

  <!-- scrollTo bottom --> 
  <a id="bottom"></a>
  <div class="container header background">
    <div class="row">
      <div class="col-xs-12 banner">
        <div class="logo">Douglas Casserleigh</div>
      </div>
    </div>
    <div class="row boxes">
      <div class="col-md-6 container-left background">
        <div class="box-left">Left Box</div>
      </div>
      <div class="col-md-6 container-right">
        <div class="box-right">Right Box</div>
      </div>
    </div>
  </div>


<!-- MODAL -->
  <div class="container modal-div"> 
<!-- modal button  -->
    <button id="myBtn">Open Modal</button>
  
<!-- the modal -->
    <div id="myModal" class="modal">
      <div class="modal-content">
        <span class="close">x</span>
        <p> Modal Text </p>
      </div>
    </div>
  </div>



  <div class="animate-background">
    <div class="flex-box">
      <div class="box">
        <h1>Welcome</h1>
      </div>
    <!--   double div- twice the glow
      <div class="box">
        <h1>Welcome</h1>
      </div> -->
      <div class="box-center">
        <div class="slider">
          <h1>></h1>
        </div>
      </div>
      <div class="box-black">
        <h1>Welcome</h1>
      </div>
    </div>  
  </div>


  <div class="season-container">
    <div class="background-season">
      <div class="season-bar">
        <div class="flex-box-season">
          <div class="season-toggle spring">
            <i class="fa fa-leaf fa-3x spring-icon" aria-hidden="true"></i>
          </div>
          <div class="season-toggle winter">
            <i class="fa fa-snowflake-o fa-3x winter-icon" aria-hidden="true"></i>
          </div>
          <div class="season-toggle fall">
            <i class="fa fa-pagelines fa-3x fall-icon" aria-hidden="true"></i>
          </div>
          <div class="season-toggle summer">
            <i class="fa fa-sun-o fa-3x summer-icon" aria-hidden="true"></i>
          </div>
        </div>
      </div>
      <div class="season-text-box">
        <h1 class="season-text">Welcome</h1>
      </div>
    </div>
  </div>

  <div class="season-container">
    <div class="background-season">
      <div class="season-bar">
        <div class="flex-box-season">
          <div class="season-toggle spring">
            <i class="fa fa-leaf fa-3x spring-icon" aria-hidden="true"></i>
          </div>
          <div class="season-toggle winter">
            <i class="fa fa-snowflake-o fa-3x winter-icon" aria-hidden="true"></i>
          </div>
          <div class="season-toggle fall">
            <i class="fa fa-pagelines fa-3x fall-icon" aria-hidden="true"></i>
          </div>
          <div class="season-toggle summer">
            <i class="fa fa-sun-o fa-3x summer-icon" aria-hidden="true"></i>
          </div>
        </div>
      </div>
      <div class="season-text-box">
        <h1 class="season-text">Welcome</h1>
      </div>
    </div>
  </div>






